*{
	font-family: Arial, Helvetica, sans-serif;
}

#main {
	position: absolute;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -34%;
	/* absolute居中的一种方法 */
	background-color: whitesmoke;
	width: 70%;
	height: 50%;
	border-radius: 25px;
	text-align: center;
	padding: 5px 40px;
	box-sizing: border-box;
	/* 这样padding就不会影响大小 */
}

.navigation{
	width:100%;
	height: 30px;
	position: relative;
	left: 10px;
	top:5px;
	/*position: fixed;*/
	/*left: 0;*/
	/*right: 0;*/
	/*margin:0 auto;*/
	font-size: 22px;
	padding-bottom: 30px;
	border-bottom: #3197EE solid 2px;
	margin-top: 25px;
	margin-bottom: 50px;
}



#readerBlock {
	text-align: right;
	margin-right: 500px;
}

.readerBlock1 {
	float: left;
	margin-left: 60px;
}

.readerBlock2 {
	float: right;
	margin-right: 100px;
}



.a {
	font-size: 22px;
	font-weight: 300;
	text-decoration-style: double;
	color: blue;
	cursor: pointer;     /* 鼠标样式*/
}

a:link { color: #06F; text-decoration: none; }/* 未访问的链接 */
a:visited { color: #999; text-decoration: line-through; } /* 已访问的链接 */
a:hover { color: #F00; text-decoration: underline; }/* 鼠标移动到链接上 */
a:active { color: #F0F; } /* 选定的链接 */

.table{
	width:100%;
	font-size: 17px;
	margin-top: 15px;
}


table tr{
	cursor: pointer;
}

table tr:hover{
	background-color: #F0F0F0;
}

td {
	height:40px;
	text-align: center;
	vertical-align: center;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

#first {
	font-size: 20px;
	color: yellowgreen;
}



#pageControl{
	width: 100%;
	height: auto;
	position:absolute;
	bottom:10px;
	font-size: 13px;
}

.pageControl_item{
	width:120px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-right: 30px;
	cursor: pointer;
}

.pageControl_item_disabled{
	color:gray;
}

.hr{
	border:none;
	border-top:1px solid #DFA40C;
	height: 1px;
	margin-top: 40px;
	width: 96%;
}
